/*--------------------------------------------------------------
WooCommerce Loop
--------------------------------------------------------------*/

// Products

// Price font-size
.card .price .woocommerce-Price-amount.amount {
  font-size: 1.25rem;
}

// Star ratings
.card .star-rating,
.woocommerce .card .star-rating {
  float: none;
  margin: 1rem auto;
}

.card .star-rating span::before {
  text-align: left;
}

// Loop link
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// Categories

// If loop item is WC subcategory, set btn to bottom
.product .card-body a.button,
.product-category .card-body a {
  margin-top: auto;
}

// Category loop image
.product-category .card img {
  @extend .card-img-top;
}
