/*--------------------------------------------------------------
WooCommerce My Account
--------------------------------------------------------------*/

.woocommerce-account {
  // Navigation
  .woocommerce-MyAccount-navigation,
  // Content
  .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
  }
}

// Download button
// WooCommerce breakpoint is 769px
@media (min-width: 769px) {
  .woocommerce-MyAccount-downloads-file {
    width: 100%
  }
}

// Invoice button
// WooCommerce breakpoint is 769px
@media (max-width: 768px) {
  .woocommerce .shop_table a.button.invoice {
    margin-left: ($spacer * .25);
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .woocommerce .shop_table a.button.invoice {
    margin-top: ($spacer * .25);
  }
}

@include media-breakpoint-up(lg) {
  .woocommerce .shop_table a.button.invoice {
    margin-left: ($spacer * .25);
  }
}
